*{
    margin:0;
    padding: 0;
}

ul.menu li{
    display: inline-block;
    margin-left: 25px;
    line-height: 30px;
    font-size: 2.2ch;
    font-weight: bolder;
   
}

.text-gray{
    color: rgb(0, 0, 0);
}
.text-dec{
    text-decoration: none ;
}
.nav{
    padding: 15px 0;
    float: none;
    position: fixed;
    z-index: 9;
}

.container{
    width: 80%;
    display: block;
    margin: auto;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.w-100{
    width: 100%;
}
.text-white{
    color: #fff!important;
}

.text-center{
    text-align: center;
}
.header-bg{
 
    padding: 12em;
    height: 250px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    
}
.header-div{
    width: 70%;
   padding-left: 125px;
   margin-top: -70px;
}
.header-bg h2{
    font-size: 20px;
    font-weight: 400;
    font-family: sans-serif;
    color: silver;
}
.header-bg h1{
    font-size: 55px;
    font-family: sans-serif;
}
.btn{
    background-color: #f4623a;
    padding: 20px 30px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    transition: 250ms;
    border: 0ch ;
}
.btn:hover{
    background-color: orangered;
}
.my-2{
    margin: 1.5rem;
}
.my-5{
    margin: 2.5rem 0;
}

ul.menu li a{
    transition:.25s;
}
ul.menu li a:hover{
    color: orange!important;
}
.line{
height: 0.2rem;
max-width: 3.25rem;
margin: 1.5rem auto;
background-color: #f4623a;
opacity: 1;

}
.about{
    height: 450px;
    margin-top: -10px;
     background-color:#f4623a ;

}
.about-line{
    background-color: white;
}
.about-btn{
    background-color: white;
    color:black;
    padding: 20px 30px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    transition: 250ms;
  border: 0ch;
}

.about-div{
    margin-top: 100px;
}
.about h3{
    color:rgb(226, 224, 224);
    font-family:serif;
    font-weight: lighter;
    font-size: 2.6ch;
    
}
.about h1{
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 4.5ch;
}
.bg-white{
    background-color: white;
}
.title{
    font-size: 30px;
    font-family: sans-serif;
 
}

.text{
    color:gray;
    line-height: 24px;
    font-size: 20px;
   width: 230px;
  margin-left: -15px;
}
.item{
    width: 20%;
    text-align: center;
    float: left;
}
.p-25px{
    padding: 25px;
}

.i{
    font-size: 50px;
    color:#f4623a;
    margin-bottom: -30px;
}


.item-title{
    font-weight: lighter;
    font-size: 27px;
    margin-top: 2rem;
   
    
}
.category-div{
    width: 100%;
    height: 450px;
 
}
.pic{
    width: 33.3%;
    height: 250px;
  background-size: 102%;
  background-repeat: no-repeat;
}
.pic-mr{
    margin-top: -6px;
}
.category-bg-color{
    background-color:#f4623a ;
    width: 100%;
    height: 98%;
    line-height: 275px;
    font-size: 40px;
    color: #fff;
    opacity: 0;
    transition: .5s;
    cursor: pointer;
}
.category-bg-color:hover{
    opacity: 0.5;
}
 
.down{
    width: 100%;
    height: 350px;
    background-color: rgb(29, 29, 36);
    margin-top: -6px;
}
.down h1{
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 4ch;
}
.down-div{
    margin-top: 100px;
}
.down button{
    padding: 20px 45px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    transition: 250ms;
    background-color: white;
    color: black;
    margin-top:-8px;
    border:0ch;
}
.last-text{
    color: gray;
    font: 1.3em serif;
    width: 50%;
    padding-left: 25%;
   
}
.input{
   
    width: 500px;
    height: 50px;
    border: 1px solid silver;
    border-radius: 0.5ch;
    display: block;
    margin: 20px 300px;
  
}
.input:hover{
    border:solid palevioletred
    
}
.submit-btn{
    padding: 25px 230px;
    margin-left: 65px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    transition: 250ms;
    background-color: #f4623a ;
    color: white;
    margin-top:-8px;
    border:0ch;
}
.inpt-msg{
    height: 100px;
}
.inpt-text{
    font-size: 2ch;
    color:black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   flex-grow: inherit;
}
.mob{
    font-size: 40px;
    color: gray;
    margin-left: 40px;
}
.phone{
    margin-left: 40px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-size: 2.5ch;
    font-style: italic;
    color: rgb(44, 42, 42);
}
